<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.TVenueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniu.yoga.domain.TVenue">
        <id column="t_venue_id" property="tVenueId" />
        <result column="t_venue_name" property="tVenueName" />
        <result column="t_venue_password" property="tVenuePassword" />
        <result column="t_venue_tel" property="tVenueTel" />
        <result column="t_venue_mail" property="tVenueMail" />
        <result column="t_venue_openid" property="tVenueOpenid" />
        <result column="t_venue_img" property="tVenueImg" />
        <result column="t_venue_address" property="tVenueAddress" />
        <result column="t_venue_describe" property="tVenueDescribe" />
        <result column="t_venue_balance" property="tVenueBalance" />
        <result column="t_venue_status" property="tVenueStatus" />
        <result column="t_venue_create_time" property="tVenueCreateTime" />
        <result column="t_venue_spare" property="tVenueSpare" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t_venue_id, t_venue_name, t_venue_password, t_venue_tel, t_venue_mail, t_venue_openid, t_venue_img, t_venue_address, t_venue_describe, t_venue_balance, t_venue_status, t_venue_create_time, t_venue_spare
    </sql>

</mapper>
